body {
  background-image: url("blue0002.png");
  background-size: 100% auto;

}

.top-wrapper {
  color: white;
}

.top-wrapper h1 {

  text-align: center;
}

.top-wrapper p {

  text-align: center;
}